<header class="inset-x-0 top-0 left-0 z-40">
  <div class="flex justify-center mx-auto px-6 pt-5">
    <nav aria-label="primary navigation"
    class="hidden md:flex space-x-3 text-sm text-gray-600 px-3 shadow-xs py-1 rounded-full border-gray-300 border border-border">
      <button
        href="#about"
        (click)="scrollToSection('about')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">About</span>
      </button>
      <button 
        href="#skills"
        (click)="scrollToSection('skills')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Skills</span>
      </button>
      <button 
        href="#projects"
        (click)="scrollToSection('projects')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Projects</span>
      </button>
      <button 
        href="#articles"
        (click)="scrollToSection('articles')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Articles</span>
      </button>
      <button
        href="#contact"
        (click)="scrollToSection('contact')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Contact</span>
      </button>
    </nav>
  </div>
</header>
