<header class="fixed inset-x-0 top-0 z-50 border-b border-gray-950/5">
  <div class="mx-auto max-w-7xl flex justify-between items-center px-6 py-4">
    <h1 class="text-2xl text-indigo-400 hover:text-indigo-500 font-bold gradient-text cursor-default select-none" tabindex="-1">
      <span class="font-mono"><</span>NC<span class="font-mono">/></span>
    </h1>
    <nav aria-label="primary navigation" class="hidden md:flex space-x-8 text-lg text-gray-600 font-medium">
      <a href="#about" class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">About</span>
      </a>
      <a href="#projects" class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Projects</span>
      </a>
      <a href="#contact" class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Contact</span>
      </a>
    </nav>
  </div>
</header>
