<header class="fixed inset-x-0 top-0 left-0 z-40 border-b border-gray-950/5 backdrop-blur-lg backdrop-grayscale">
  <div class="mx-auto max-w-7xl flex justify-between items-center px-6 py-4">
    <h1 class="text-2xl text-indigo-400 hover:text-indigo-500 duration-300 font-bold gradient-text cursor-default select-none" tabindex="-1">
      <span class="font-mono"><</span>NC<span class="font-mono">/></span>
    </h1>
    <nav aria-label="primary navigation" class="hidden md:flex space-x-8 text-lg text-gray-600 font-medium">
      <button 
        href="#about"
        (click)="scrollToSection('about')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">About</span>
      </button>
      <button 
        href="#projects"
        (click)="scrollToSection('projects')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Projects</span>
      </button>
      <button
        href="#contact"
        (click)="scrollToSection('contact')"
        class="relative text-foreground px-2 py-1 hover:text-black">
        <span class="relative z-10">Contact</span>
      </button>
    </nav>
    <button aria-label="Open menu" aria-expanded="false" aria-controls="mobile-menu" 
      class="md:hidden text-indigo-400 focus:outline-none focus:ring-2 focus:ring-bg-indigo-400 rounded p-1 transition-colors hover:bg-indigo-400" 
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="28" height="28" stroke-width="2" stroke="currentColor" className="size-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>  
    </button>
  </div>
</header>
