<section class="relative flex flex-col items-center justify-center text-center flex-grow mt-16 px-6 overflow-hidden" style="min-height: calc(-64px + 100vh); opacity: 1;">
  <h2 class="text-6xl font-bold text-black mb-6 sm:text-6xl max-w-4xl"
      style="opacity: 1; transform: none;">Hello, I'm <span class="text-indigo-400">Nathaniel Chavez</span></h2>
  <p class="text-gray-600 text-lg sm:text-xl lg:text-2xl max-w-3xl mb-10 leading-relaxed">
    I’m a backend-focused <span class="text-indigo-400">Java</span> 
    developer who loves designing clean <span class="text-indigo-400">APIs</span> and scalable systems. 
    I also explore <span class="text-indigo-400">Angular</span> to connect backend logic with intuitive user interfaces.
  </p>
  <div class="flex flex-col sm:flex-row gap-4 mb-12" style="opacity: 1; transform: none;">
    <a href="#" 
      class="inline-flex items-center justify-center px-8 sm:px-10 py-3 sm:py-4 rounded-full font-semibold text-lg bg-indigo-400 
      text-white shadow-md transition-all duration-300 hover:scale-105 hover:shadow-lg hover:shadow-primary/20 focus:outline-none focus:ring-2 focus:ring-primary active:scale-95">
      <span>Explore my projects</span>
    </a>
    <a href="#" 
      class="inline-flex items-center justify-center px-8 sm:px-10 py-3 sm:py-4 rounded-full font-semibold text-lg border-2 border-indigo-400
      text-gray-800 shadow-md transition-all duration-300 hover:scale-105 hover:shadow-lg hover:shadow-primary/20 focus:outline-none focus:ring-2 focus:ring-primary active:scale-95">
      <span>Collaborate</span>
    </a>
  </div>
</section>